@(message: String,  pregs: List[Pregunta])
@import helper._


@main(message) {
    <h1> Lista de preguntas </h1>

<ul class="list-group">
@for(preg <- pregs) {
  <li class="list-group-item" >@preg.texto 
      
      <div class="btn-group pull-right" role="group" aria-label="...">
        <a href="@routes.HomeController.editarPreguntaPost(preg.id)" 
           class="btn btn-success">Editar</a>
           <a href="@routes.HomeController.EliminarPregunta(preg.id)" 
              class="btn btn-danger">Eliminar</a>
      </div>
      
      
      
      
  </li>
}
</ul>

    
    
}